body {
	font-family: Arial, Helvetica, sans-serif;
}

h1 {
	text-align: center;
}

.wrapper {
	position: relative;
	margin: 0 auto;
	width: 100%;
	max-width: 800px;
	border: 1px solid #cecece;
}

.wrapper:before {
	content: '';
	display: block;
	width: 100%;
	padding-bottom: 77%;
}

.content {
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
}

.number {
	text-align: center;
	font-size: 232px;
	height: 232px;
	background: #fff;
	height: 385px;
	position: absolute;
	width: 100%;
    top: 125px;
}

.squid {
	font-size: 72px;
	margin-top: 50px;
    display: block;
}

.name {
	text-align: center;
	font-size: 80px;
	color: #FFF;
	background: #1202e0;
	height: 100px;
	position: absolute;
	bottom: 100px;
	width: 100%;
}

.form-inputs {
	position: fixed;
	width: 200px;
	bottom: 20px;
	left: 20px;
	padding: 20px;
	background-color: #757575;
}

.form-inputs input {
	margin-bottom: 20px;
	width: 100%;
	box-sizing: border-box;
}

.form-inputs button {
	display: block;
	width: 100%;
	box-sizing: border-box;
	cursor: pointer;
}

.title {
	color: white;
	background: #16e200;
	padding: 20px;
}

.header {
	font-size: 36px;
}

.subtitle {
	font-size: 20px;
}

.logo {
	position: absolute;
	right: 20px;
	top: 20px;
}

@media print {
	h1,
	.form-inputs {
		display: none;
	}

	.wrapper { 
		border: none;
		max-width: none;
	}

	.number {
		text-align: center;
		font-size: 232px;
		height: 232px;
		background: #fff;
		width: 100%;
	    margin-top: 50px;
	    position: absolute;
	}

	.squid {
		margin-top: 50px;
	    display: block;
	}

	@page { 
		size: landscape;
		margin: 0;
	}

	.name {
		background: #1202e0;
	}
}